{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal' } }) }}

<div class="form-group">
    {{ form_label(form.photo,'Your photo', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
    {{ form_errors(form.photo) }}
    <div class="col-sm-10">
        <output id="list">
        {% if app.user.photo == "" %}
            <img src="https://avatars3.githubusercontent.com/u/8930526?v=3&s=460" alt="{{ app.user.username }}"
                 style="width:100%">
        {% else %}
            <img src="{% path app.user.photo, 'big' %}" alt="{{ app.user.username }}"
                 style="width:120px">
        {% endif %}
        </output>
        {{ form_widget(form.photo, { 'attr' : {'id' : 'files_input'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.username,'Username', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
    {{ form_errors(form.username) }}
    <div class="col-sm-10">
        {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control'}  }) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.email,'Email', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
    {{ form_errors(form.email) }}
    <div class="col-sm-10">
        {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control'}  }) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.description,'Description', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
    {{ form_errors(form.description) }}
    <div class="col-sm-10">
        {{ form_widget(form.description, { 'attr' : { 'class' : 'form-control'}  }) }}
    </div>
</div>


<div class="form-group">
    {{ form_label(form.current_password,'Type your current password', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
    {{ form_errors(form.current_password) }}
    <div class="col-sm-10">
        {{ form_widget(form.current_password, { 'attr' : { 'class' : 'form-control'}  }) }}
    </div>
</div>

<div class="form-group">
    <input class="btn btn-success btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
</div>


{{ form_end(form) }}

    <script>
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('list').innerHTML = span.innerHTML;
                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('fos_user_profile_form_photo').addEventListener('change', handleFileSelect, false);
    </script>
