<div class="row">

    <h3><a href="{{ path('multi_blog_get_page', {'id' : page.id}) }}">{{ page.title }}</a></h3>

        {{ page.body|length > 200 ? page.body | slice(0, 200)  | striptags ~ '...' : page.body | striptags }}

    <br>
    {% for tag in page.tags %}
        {% include 'StackExchangeBundle:Tag:tag_wrap.html.twig' with {'tag' : tag } %}
    {% endfor %}

    <div class="col-sm-4 pull-right">
        Created: {{ page.createdAt | date('Y-m-d H:i') }}<br>
        {% if page.author.photo == "" %}
            <img width="30" height="30" src="https://avatars3.githubusercontent.com/u/8930526?v=3&s=460"
                 alt="{{ page.author.username }}"
            >
        {% else %}
            <img width="30" height="30" src="{{ page.author.photo }}" alt="{{ page.author.username }}"
            >
        {% endif %}

        <a href="{{ path('user_profile_main', {'username' : page.author.username}) }}">{{ page.author }}</a>
    </div>


</div>