{% if app.user != null %}
    {% if app.user.id == car.user.id %}
        <ul class="nav nav-pills nav-stacked nav-background-upgrade" >
            <li class="{% if app.request.requestUri == path('car_history', {'id' : car.id}) %} active {% endif %}">
                <a href="{{ path('car_history', {'id' : car.id}) }}">
                    <span class="glyphicon glyphicon-road"></span>
                    Service History
                </a>
            </li>
            <li class="{% if app.request.requestUri == path('newCarPost', {'carId' : car.id}) %} active {% endif %}">
                <a href="{{ path('newCarPost', {'carId' : car.id}) }}">
                    <span class="glyphicon glyphicon-file"></span>
                    Add Post
                </a>
            </li>
            <li class="{% if app.request.requestUri == path('car_show_add_pictures', {'id' : car.id}) %} active {% endif %}">
                <a href="{{ path('car_show_add_pictures', {'id' : car.id}) }}">
                    <span class="glyphicon glyphicon-picture"></span>
                    Add Picture
                </a>
            </li>
            <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                    Edit
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="{{ path('car_show_change_main_picture', {'id' : car.id}) }}">Change Main
                            Picture</a></li>
                    <li><a href="{{ path('auto_car_edit', {'id' : car.id}) }}">Edit car Info</a></li>
                    {% if car.private %}
                        <li><a href="{{ path('car_show_make_public_car', {'id' : car.id}) }}">Make Public</a></li>
                    {% else %}
                        <li><a href="{{ path('car_show_make_private_car', {'id' : car.id}) }}">Make Private</a></li>
                    {% endif %}
                    <li><a href="{{ path('car_show_delete_car', {'id' : car.id}) }}">Delete</a></li>

                </ul>
            </li>
        </ul>
    {% endif %}
{% endif %}