<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=1440">
    <title>{% block title %}{% trans %}title{% endtrans %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/Auto/css/base.css') }}" rel="stylesheet" type="text/css"/>
    {% block stylesheets %}{% endblock %}

</head>
<body>
<div class="container-full">
    {% block header %}
        <nav class="navbar navbar-default " style="margin: 0;" role="navigation">
            <div class="container">
                <div class="col-xs-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="{{ path('Dashboard') }}">{% trans %}
                            page_main_title{% endtrans %}</a>

                    </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {{ render(controller(
                                'SearchBundle:Search:newSearch')) }}

                            </li>
                            <li>
                                <a href="{{ path('questions') }}"> {% trans %}se_question_name{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('multi_blog_all_pages') }}"> {% trans %}multi_blog_pages{% endtrans %}</a>
                            </li>

                            {% if app.user %}
                                <li>
                                    <a href="{{ path('garage') }}">
                                        <span class="glyphicon glyphicon-home" title="Garage"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_message_inbox') }}">
                                        <span class="glyphicon glyphicon-comment" title="Massages" >

                                        </span>
                                        {% if  fos_message_nb_unread()  > 0 %}
                                            <b>{{ fos_message_nb_unread() }}</b>
                                        {% endif %}

                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <span class="glyphicon glyphicon-user" title="You Profile"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                    <span class="glyphicon glyphicon-off" title="Logout"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">Sign up</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}">Registration</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
        {% if app.session.flashbag.has('notice') %}
            <div class="alert alert-info text-center" id="notification-div">
                <strong>Info!</strong> {{ app.session.flashbag.get('notice').0 }}<br/>
            </div>
        {% endif %}
        <div id="notification-div"></div>
    {% endblock %}

    <div class="container main" style="padding-top: 25px; min-height: 100%">
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    {% block body %}{% endblock %}
                </div>

                <div class="col-xs-12 col-sm-3 sidebar-offcanvas">
                    {% block sidepanel %}
                        <div class="panel panel-default">
                            <div class="panel-body">

                                {% if app.user %}

                                    {% if my_auto_car.favorites(app.user)| length > 0 %}
                                        <h4>Your favorited cars</h4>
                                        <ul class="nav nav-pills  nav-stacked">

                                            {% for car in my_auto_car.favorites(app.user) %}
                                                <li role="presentation">
                                                    <a href="{{ path('car_show_get_car', { 'id': car.id }) }}">

                                                        <span>{{ car.user.username }} {{ car.year | date("Y") }} {{ car.brand|e }} {{ car.model|e }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                {% else %}
                                    <li class="list-group-item">
                                        <a href="{{ path('fos_user_security_login') }}">Sign up</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{{ path('fos_user_registration_register') }}">Registration</a>
                                    </li>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock sidepanel %}
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>

    <footer class="footer navbar-fixed-bottom" style="background: #e8dcdd;">
        <div class="container">
            <p class="text-muted">Created by Paulius Kupetis &copy; 2017</p>
        </div>
    </footer>

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>

{% block javascripts %}

{% endblock %}
</body>
</html>
