{% extends 'base.html.twig' %}

{% block sidepanel %}
    {% if auto.private %}
        <h2>Private Mode</h2>
        <hr>
    {% endif %}

    {% include '@CarShow/widget/carMenu.html.twig' with {'car' : auto} %}
    <hr>
    {% include '@Main/widgets/ImageSliderWidget.html.twig' with {'images' : auto.images} %}
    <hr>

    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/Auto/css/autoblog.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/Auto/css/index.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/Comments/css/comments.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/jGallery-1.6.1/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/jGallery-1.6.1/css/jgallery.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

    {# Blog head#}
    {% include '@CarShow/car/carHeader.html.twig' with {'auto' : auto } %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
        <li><a data-toggle="tab" href="#menu1">Detailed info</a></li>
        <li><a data-toggle="tab" href="#menu2">Posts</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{ auto.additionalInfo | raw }}
        </div>
        <div id="menu1" class="tab-pane fade">
            <table class="table">
                <tbody>
                <tr>
                    <td>Brand</td>
                    <td>{{ auto.brand }}</td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td>{{ auto.model }}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{ auto.year | date("Y-d-m") }}</td>
                </tr>
                <tr>
                    <td>Engine</td>
                    <td>{{ auto.engineCapacity }}</td>
                </tr>

                <tr>
                    <td>Power</td>
                    <td>{{ auto.power }} kw</td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>{{ auto.fuelType }}</td>
                </tr>
                <tr>
                    <td>Powertrain</td>
                    <td>{{ auto.powerTrain }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
            {% for post in posts %}
                {% if post.deleted == false %}
                    <div class="blogShort">
                        <h1><a href="{{ path('car_show_get_car_post', {'postId' : post.id}) }}">{{ post.title }}</a>
                            {% if app.user != null %}
                                {% if app.user.id == auto.user.id %}
                                    <div class="dropdown inline">
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                           id="dropdownMenuButton">
                                            <span class="glyphicon glyphicon-cog"></span>
                                            Edit
                                            <span class="caret"></span>
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a href="{{ path('editCarPost', {'carId' : auto.id, 'postId' : post.id}) }}">Edit Post</a></li>
                                            <li><a href="{{ path('deleteCarPost', {'carId' : auto.id, 'postId' : post.id}) }}">Delete Post</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </h1>

                        <em>{{ post.date | date("Y-m-d") }} {{ post.mileage }} Km.
                            {% transchoice post.thread.numComments %}
                            {0} There are no Comments|{1} One Comment|]1,Inf[ %count% Comment
                            {% endtranschoice %}
                        </em>

                        <article><p>
                                {{ post.text|length > 200 ? post.text | slice(0, 200)  | striptags ~ 'Continue reading..' : post.text | striptags }}
                            </p>
                            <p></p>
                        </article>
                        <hr>

                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <hr>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $('.collapse-btn').click(function () {
            $(this).siblings('.carInfo').toggleClass('collapse');
        });

        $('.pull-down').each(function () {
            var $this = $(this);
            $this.css('margin-top', $this.parent().height() - $this.height() * 2)
        });
    </script>
{% endblock %}