{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/Auto/css/index.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block sidepanel %}

    {% if car is defined %}
        <br>
        {% include '@CarShow/widget/backToMainCarPage.html.twig' with {'car' : car} %}
        <hr>
        {% include '@Main/widgets/carInfoWidget.html.twig' with {'car' : car } %}
        <hr>
    {% endif %}

    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="h2">{{ title }}</div>
        {{ form_start(form, { 'attr' : {'class' : 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.brand,'Markė*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.brand) }}
            <div class="col-sm-10">
                {{ form_widget(form.brand, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.model,'Modelis*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.model) }}
            <div class="col-sm-10">
                {{ form_widget(form.model, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.year,'Pagaminimo data*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            <div class="col-sm-10">
                <div class="input-group" id="time_input">
                    {{ form_widget(form.year, { 'attr' : {'class' : 'form-control' } }) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.bodyType,'Kebulo tipas*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.bodyType) }}
            <div class="col-sm-10">
                {{ form_widget(form.bodyType, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.power,'Galia (Kw)*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.power) }}
            <div class="col-sm-10">
                {{ form_widget(form.power, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.powertrain,'Važiuoklės tipas*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.powertrain) }}
            <div class="col-sm-10">
                {{ form_widget(form.powertrain, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.engineCapacity,'Variklio tūris (litrais)*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.engineCapacity) }}
            <div class="col-sm-10">
                {{ form_widget(form.engineCapacity, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.fuelType,'Degalų tipas*', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.fuelType) }}
            <div class="col-sm-10">
                {{ form_widget(form.fuelType, { 'attr' : { 'class' : 'form-control'}  }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.foto,'Tavo automobilio nuotrauka', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.foto) }}
            <div class="col-sm-10">
                {{ form_widget(form.foto) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.private,'Ar tavo automobilis privatus?', { 'label_attr' : { 'class' : 'control-label col-sm-2'}  }) }}
            {{ form_errors(form.private) }}
            <div class="col-sm-10">
                {{ form_widget(form.private) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.additionalInfo,'Automobilio aprašymas') }}
            {{ form_errors(form.additionalInfo) }}
            <div class="col-sm-12">
                {{ form_widget(form.additionalInfo, { 'attr' : { 'class' : 'tinymce'}  }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.submit, 'saugoti') }}
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-block'}  }) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('bundles/Auto/js/datePicker.js') }}" type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset('bundles/stfalcontinymce/vendor/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">

        tinymce.init({
            selector: "textarea",

            // ===========================================
            // INCLUDE THE PLUGIN
            // ===========================================

            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],

            // ===========================================
            // PUT PLUGIN'S BUTTON on the toolbar
            // ===========================================

            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",

            // ===========================================
            // SET RELATIVE_URLS to FALSE (This is required for images to display properly)
            // ===========================================

            relative_urls: false

        });

    </script>
{% endblock %}