{% extends 'base.html.twig'  %}

{% block sidepanel %}
    <br>
    {% include '@CarShow/widget/backToMainCarPage.html.twig' with {'car' : auto} %}
    <br>

    {% include '@CarShow/widget/editPostMenu.html.twig'  with {'car' : auto, 'post' : post} %}
    <br>
    {% include '@Main/widgets/carInfoWidget.html.twig' with {'car' : auto} %}
    <h3>Kiti įrašai</h3>
    {% include '@CarShow/widget/carPostsWidget.html.twig' with {'posts' : sidePosts} %}

    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{asset('bundles/Auto/css/autoblog.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('bundles/Auto/css/index.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('bundles/Comments/css/comments.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}



    <div class="panel panel-default blog-post">
        <div class="panel-heading">
            <h2 class="blog-post-title">{{ post.title }}</h2>

            <p class="blog-post-meta">{{ post.date | date("Y-m-d") }} {{ post.mileage }} Km. </p>
        </div>
        <div class="panel-body">
            <p >{{ post.text | raw }}</p>
        </div>
        <div class="panel-footer">
            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': post.thread.id} %}
        </div>

    </div>

    {# End of blog posts#}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">


        $('.collapse-btn').click(function(){
            $(this).siblings('.carInfo').toggleClass('collapse');
        });

        $('.pull-down').each(function() {
            var $this=$(this);
            $this.css('margin-top', $this.parent().height()-$this.height()*2)
        });
    </script>
{% endblock %}
