{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/main/css/index.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/main/css/garage.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidepanel %}
    <div class="panel panel-default">
        <div class="panel-body">

            {% if app.user %}

                <ul class="nav nav-pills  nav-stacked">
                    <li role="presentation">
                        <a href="{{ path('auto_new_car') }}">
                            {% trans %}car_show_add_car{% endtrans %}
                        </a>
                    </li>
                </ul>


            {% else %}
                <li class="list-group-item">
                    <a href="{{ path('fos_user_security_login') }}">Sign up</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('fos_user_registration_register') }}">Registration</a>
                </li>
            {% endif %}
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>You garage</h1>
    <hr>
    <div class="row">
        {% for auto in ownedAutos %}
            {% if auto.deleted != true %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="panel panel-default">
                        <div class="car-cover"
                             style="background: url({% path auto.mainPhoto, 'big' %}); background-size: cover; background-position: center">
                        </div>
                        <div class="panel-body ">
                            <h4 style="margin-top: 0">
                                <a href="{{ path('car_show_get_car', {'id' : auto.getId}) }}">
                                    {{ auto.year | date("Y") }} {{ auto.brand }} {{ auto.model|e }}
                                </a>
                            </h4>

                            {% if auto.private %}
                                <p><b>Private Mode</b></p>
                            {% else %}
                                <br>
                            {% endif %}
                            <p>{{ auto.images | length }} Pictures | {{ auto.posts | length }} Posts</p>
                            <p>Liked {{ auto.likedUsersCount }} | Subscribed {{ auto.FavoritedUsersCount }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.collapse-btn').click(function () {
            $(this).siblings('.carInfo').toggleClass('collapse');
        });
    </script>
{% endblock %}