{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/main/css/index.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidepanel %}
    {% if user %}
        <br>
        <div>
            <h4 class="text-center">{% trans %}widget_name_subscribed{% endtrans %}:</h4>
            <ul class="list-group">
                {% for car in  user.favoritedAutos %}
                    <a class="list-group-item borderless" href="{{ path('car_show_get_car', {'id' : car.getId}) }}">
                        <img height="30px" width="40px" src="{% path car.mainPhoto, 'small' %}" alt="">
                        {{ car.year | date("Y") }} {{ car.brand }} {{ car.model|e }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div>
        <hr>
        <h4 class="text-center">{% trans %}widget_name_most_popular_cars{% endtrans %}</h4>
        <ul class="list-group">
            {% for car in popularCars %}
                <a class="list-group-item borderless" href="{{ path('car_show_get_car', {'id' : car.getId}) }}">
                    <img height="30px" width="40px" src="{% path car.mainPhoto, 'small' %}" alt="">
                    {{ car.year | date("Y") }} {{ car.brand }} {{ car.model|e }}
                </a>
            {% endfor %}

        </ul>

    </div>

    <hr>
    <div>
        <h4 class="text-center">{% trans %}widget_name_new_arrived_cars{% endtrans %}</h4>
        <ul class="list-group">
            {% for car in newestCars %}
                <a class="list-group-item borderless" href="{{ path('car_show_get_car', {'id' : car.getId}) }}">
                    <img height="30px" width="40px" src="{% path car.mainPhoto, 'small' %}" alt="">
                    {{ car.year | date("Y") }} {{ car.brand }} {{ car.model|e }}
                </a>
            {% endfor %}
        </ul>
    </div>
    <hr>


    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h1 style="font-weight: 600; font-size: 60px;">{% trans %}title_cars{% endtrans %}</h1>
        </div>
        <div class="col-md-9 col-sm-12 ">
            <div class="force-to-bottom">
                {{ render(controller(
                'SearchBundle:Search:newSearchCars')) }}

            </div>
        </div>

    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="pushed-bottom"><a class="sortable" style="color: #0a0a0a"><b>{% trans %}sort_by{% endtrans %}
                        :</b></a></li>
            <li class="pushed-bottom {% if pagination.isSorted('createdAt') %} active{% endif %}">

                {% set sort_by_date = 'sort_by_date' %}
                {{ knp_pagination_sortable(pagination, sort_by_date|trans, 'createdAt', {'defaultDirection' : 'desc'}) }}

            </li>
            <li class="pushed-bottom {% if pagination.isSorted('updatedAt') %} active{% endif %}">
                {% set sort_by_update = 'sort_by_update' %}
                {{ knp_pagination_sortable(pagination, sort_by_update|trans, 'updatedAt', {'defaultDirection' : 'desc'}) }}
            </li>
            <li class="pushed-bottom {% if pagination.isSorted('postAmount') %} active{% endif %}">
                {% set sort_by_post_ammount = 'sort_by_post_ammount' %}
                {{ knp_pagination_sortable(pagination, sort_by_post_ammount|trans, 'postAmount', {'defaultDirection' : 'desc'}) }}
            </li>
            <li class="pushed-bottom {% if pagination.isSorted('imgAmount') %} active{% endif %}">
                {% set sort_by_image_quantity = 'sort_by_image_quantity' %}
                {{ knp_pagination_sortable(pagination, sort_by_image_quantity|trans, 'imgAmount', {'defaultDirection' : 'desc'}) }}
            </li>

        </ul>

    </div>
    <hr style="margin: 5px">
    <div class="row">
        {% for auto in pagination %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="car-cover"
                         style="background: url({% path auto.mainPhoto, 'big' %}); background-size: cover; background-position: center">
                    </div>
                    <div class="panel-body ">
                        <h4 style="margin-top: 0">
                            <a href="{{ path('car_show_get_car', {'id' : auto.getId}) }}">
                                {{ auto.year | date("Y") }} {{ auto.brand }} {{ auto.model|e }}
                            </a>
                        </h4>
                        <p>
                            <a href="{{ path('user_profile_main', {'username' : auto.getUser.getUsername}) }}">@{{ auto.getUser.getUsername |e }}</a>
                            <br>
                            {% set images = auto.images | length %}
                            {% set photo_many = 'photo_many' | trans %}
                            {% set photo_one = 'photo_one' | trans %}
                            {% transchoice images %}
                            {0} Nėra %photo_many%|{1} %images% Nuotrauka |]1,Inf[ %images% %photo_many%
                            {% endtranschoice %}
                            |

                            {% set post_many = 'post_many' | trans %}
                            {% set post_many_what = 'post_many_what' | trans %}
                            {% set post_one = 'post_one' | trans %}
                            {% set post_ammount = auto.posts | length %}
                            {% transchoice post_ammount %}
                            {0} Nėra %post_many_what% |
                            {1} %post_ammount% %post_one% |
                            ]1,Inf[ %post_ammount% %post_many%
                            {% endtranschoice %}

                        </p>

                    </div>
                </div>
                {% if app.user %}
                    <div class="car-block-menu">
                        {% if auto.autoFavorited(app.user) %}
                            <div class="favorite-controller">
                                <div class="favorite-btn favorite-remove btn btn-default btn-sm subscribed"
                                     data-id="{{ auto.id }}" data-url="{{ url('remove_from_favorites') }}">
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                                <div class="favorite-btn favorite-add btn btn-default btn-sm hidden"
                                     data-id="{{ auto.id }}" data-url="{{ url('add_to_favorites') }}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        {% else %}
                            <div class="favorite-controller">
                                <div class="favorite-btn favorite-remove btn btn-default btn-sm subscribed hidden"
                                     data-id="{{ auto.id }}" data-url="{{ url('remove_from_favorites') }}">
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                                <div class="favorite-btn favorite-add btn btn-default btn-sm" data-id="{{ auto.id }}"
                                     data-url="{{ url('add_to_favorites') }}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        {% endif %}

                        {% if auto.autoLiked(app.user) %}
                            <div class="like-controller">
                                <div class="like-btn unlike btn btn-default btn-sm" data-id="{{ auto.id }}"
                                     data-url="{{ url('unlike_this') }}">
                                    <p class="like-count">{{ auto.likedUsersCount }}</p><span
                                            class="glyphicon glyphicon-thumbs-up liked"></span>
                                </div>
                                <div class="like-btn like btn btn-default btn-sm hidden" data-id="{{ auto.id }}"
                                     data-url="{{ url('like_this') }}">
                                    <p class="like-count">{{ auto.likedUsersCount }}</p><span
                                            class="glyphicon glyphicon-thumbs-up"></span>

                                </div>
                            </div>
                        {% else %}
                            <div class="like-controller">
                                <div class="like-btn unlike btn btn-default btn-sm hidden" data-id="{{ auto.id }}"
                                     data-url="{{ url('unlike_this') }}">
                                    <p class="like-count">{{ auto.likedUsersCount }}</p><span
                                            class="glyphicon glyphicon-thumbs-up liked"></span>
                                </div>
                                <div class="like-btn like btn btn-default btn-sm" data-id="{{ auto.id }}"
                                     data-url="{{ url('like_this') }}">
                                    <p class="like-count">{{ auto.likedUsersCount }}</p><span
                                            class="glyphicon glyphicon-thumbs-up"></span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination, 'StackExchangeBundle::pagination.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/Auto/js/like.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/Auto/js/favorite.js') }}" type="text/javascript"></script>


    <script type="text/javascript">
        $('.collapse-btn').click(function () {
            $(this).siblings('.carInfo').toggleClass('collapse');
        });
    </script>

{% endblock %}