{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/Auto/css/index.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidepanel %}
    <br>
    {% include  '@StackExchange/widgets/backToMainQuestionsPage.html.twig' %}
    <h3>{% trans %}se_similar_questions{% endtrans %}</h3>
    {% include '@StackExchange/widgets/simillarQuestions.twig' with {'questions' : relatedQuestions} %}

    {{ parent() }}
{% endblock %}
{% block body %}

    {% include '@StackExchange/Question/question_body.html.twig' with {'question' : question  } %}
    <hr>
    <h3>Answers</h3>
    {% for answer in question.answers %}
        {% include '@StackExchange/Question/answer_body.html.twig' with {'answer' : answer, 'question' : question} %}
        <hr>
    {% endfor %}

    <h3>{% trans %}se_submit_your_answer{% endtrans %}</h3>
    {{ render(controller(
    'StackExchangeBundle:Answer:newAnswer',
    { 'questionId': question.id }
    )) }}


{% endblock %}

{% block javascripts %}
    {{ tinymce_init() }}
    <script type="text/javascript" src="{{ asset('bundles/stackexchange/js/se_vote.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/stackexchange/js/se_comment.js') }}"></script>
{% endblock %}