{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/stackexchange/css/questions.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/Auto/css/index.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block sidepanel %}

    <div>
        <h4>Total {{ pagination.getTotalItemCount }} questions</h4>
        <ul class="nav nav-pills  nav-stacked nav-background-upgrade">

            <li role="presentation">
                <a href="{{ url('question_new') }}">{% trans %}se_create_new_question{% endtrans %}</a>
            </li>
        </ul>
    </div>
    <hr>


    <div>
        <h4 role="presentation">
            Most active this week
        </h4>
        <ul class="list-group">
            {% for question in weekQuestions %}
                <li class="list-group-item">
                    <div class="inline" style="display:inline; padding: 2px 10px 2px 10px; background-color:
                    {% if question.answered %}
                            rgb(0,234,109)
                        {% else %}
                            rgb(0,225,217)
                    {% endif %}
                            "><b>{{ question.score }}</b></div>
                    <a href="{{ path('question', {'id' : question.id}) }}">{{ question.title }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h1 style="font-weight: 600; font-size: 45px;">QUESTIONS</h1>
        </div>
        <div class="col-md-8 col-sm-12 ">
            <div class="force-to-bottom">
                <div class="input-group ">
                    <input type="text" id="search_field_Search" name="search_field[Search]" required="required"
                           class="form-control" placeholder="Search for questions or answers like 'how to fix this..'">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i
                                    class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li {% if pagination.isSorted('time') %} class="active"{% endif %}>{{ knp_pagination_sortable(pagination, 'Release', 'time', {'defaultDirection' : 'desc'}) }}</li>
            <li {% if pagination.isSorted('score') %} class="active"{% endif %}>{{ knp_pagination_sortable(pagination, 'votes', 'score', {'defaultDirection' : 'desc'}) }}</li>
        </ul>

    </div><br>

    {% for question in pagination %}
        {% include 'StackExchangeBundle:Question:question_row.html.twig' with {'question' : question} %}
        <hr>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination, 'StackExchangeBundle::pagination.html.twig') }}
    </div>

{% endblock %}