{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-sm-1">
            <div class="row">
                <div class="text-center">
                    <a href="#">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    {{ question.score }}
                </div>
            </div>

            <div class="row">
                <div class="text-center">
                    <a href="#">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="row">
                <h3>{{ question.title }}</h3>
            </div>

            <div class="row">
                {{ question.text | raw}}
            </div>
            <div class="row">
                {% for tag in question.tags %}
                    {{ tag.name }}
                {% endfor %}
            </div>

            <div class="row">
                <div class="pull-left">
                    <a href="#">share</a>
                    <a href="#">edit</a>
                </div>
                <div class="col-sm-4 pull-right">
                    Asked: {{ question.createdAt | date('Y-m-d') }}<br>
                    <a href="#"> {{ question.author.foto }}</a>
                    <a href="#">{{ question.author }}</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Answers</h3>
    {% for answer in question.answers %}
        <div class="row">
            <div class="col-sm-1">
                <div class="row">
                    <div class="text-center">
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        {{ answer.score }}
                    </div>
                </div>

                <div class="row">
                    <div class="text-center">
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">

                <div class="row">
                    {{ answer.text | raw }}
                </div>

                <div class="row">
                    <div class="pull-left">
                        <a href="#">share</a>
                        <a href="#">edit</a>
                    </div>
                    <div class="col-sm-4 pull-right">
                        Created: {{ answer.createdAt | date('Y-m-d') }}<br>
                        <a href="#"> {{ answer.author.foto }}</a>
                        <a href="#">{{ answer.author }}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}

    <h3>Submit your answer</h3>
    {{ render(controller(
    'StackExchangeBundle:Answer:newAnswer',
    { 'questionId': question.id }
    )) }}

    {{ tinymce_init() }}
{% endblock %}