{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/main/css/index.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/main/css/garage.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2">
            {% if user.photo == "" %}
                <img src="https://avatars3.githubusercontent.com/u/8930526?v=3&s=460" alt="{{ user.username }}"
                     style="width:100%">
            {% else %}
                <img src="{{ user.photo }}" alt="{{ user.username }}"
                     style="width:100%">
            {% endif %}
        </div>

        <div class="col-md-8">
            <h3>{{ user.username }}</h3>
            <h6>{{ user.email }}</h6>

        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <a class="btn btn-info" href="{{path('fos_message_thread_new') }}"><span class="glyphicon glyphicon-envelope"></span> Send message</a>

            </div>
        </div>
    </div>
    <hr>

    {% include '@FOSUser/Profile/show_user_media.html.twig' with {'user' : user } %}
{% endblock %}